{% extends "proj-base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>Om projektet!</h1>
    <p>
        Det projekt jag valt att genomföra är kortspelet Blackjack. Jag har valt detta projekt då jag inte var helt nöjd med mitt tidigare kortspel.
        Detta blir en chans för mig att få göra bättre ifrån mig samtidigt som jag får lägga till ytterligare funktionalitet.
    </p>
    <p>
        Majoriteten av de val jag kommer att göra med mitt Blackjack spel kommer vara baserade på denna artikel av <a href="https://www.atg.se/casino/artiklar/hur-spelar-man-blackjack">ATG</a>.
        Jag tycker att deras förklaring av Blackjack var tydlig och därför tänker jag utgå från dem.
    </p>
{% endblock %}