html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $header-color;
    font-family: $header-font;
    margin-bottom: $magic-number;
}

h1 {
    font-size: 3em;
    margin-bottom: $magic-number * 2;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p,
a,
blockquote {
    color: $text-color;
    font-size: $base-font-size;
    margin-bottom: $magic-number;
}

label {
    color: $text-color;
    font-size: $base-font-size;
}

a:hover {
    text-decoration: none;
    color:red;
}

.no-decoration {
    text-decoration: none;
}

.no-bot-margin {
    margin-bottom: 0;
}
