$header-font: 'Arvo', serif;
$text-font: 'Noto Sans', sans-serif;

$base-line-height: 1.4;
$base-font-size: 1.25rem;
$magic-number: $base-line-height * $base-font-size;

$header-color: #fff;
$text-color: #eee;
$font-alternative-color: #eee;
$background-color: #191b30e0;
