{% extends "base.html.twig" %}

{% block title %}Card Game!{% endblock %}

{% block body %}
    <h1>Cards in deck</h1>
    <div class="deck-container">
    {% for card in cards %}
        <div class="{{card}}"></div>
    {% endfor %}
    </div>
{% endblock %}