* {
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body main {
    align-self: center; //Centers main.
}

.main {
    flex: 1; //forces footer to the bottom of the screen.
    max-width: 70rem;

    padding: 1em 1.5em;
    margin-bottom: $magic-number * 2;

    border: 1px solid #333;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);

    background-repeat: no-repeat;
    background-size: cover;
}

blockquote {
    margin: 0 1.5rem $magic-number 1.5rem;
}
