* {
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body main {
    align-self: center; //Centers main.
}

.main {
    flex: 1; //forces footer to the bottom of the screen.
    max-width: 75rem;

    padding: 1em 1.5em;
    margin-bottom: $magic-number * 2;

    border: 1px solid #333;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3), inset 1px 1px 25px rgba(0, 0, 0, 0.2);
    background: radial-gradient(ellipse farthest-corner at center,#f8e1b0
    ,#bd9b75);
}

.gameboard {
    width: 60rem;
    height: 40rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        margin-bottom: 0;
    }

    form {
        align-self: center;
    }
}

blockquote {
    margin: 0 1.5rem $magic-number 1.5rem;
}

.half-width {
    width: 50%;
}

.quarter-width {
    width: 25%;
}

.expander {
    width: 50rem;
}
