{% extends "base.html.twig" %}

{% block title %}Credits{% endblock %}

{% block body %}
    <h1>Credit page</h1>
    <p>Background image by <a href="https://www.freepik.com/free-vector/detailed-jungle-background_13859419.htm#query=jungle&position=8&from_view=search&track=sph">Freepik</a></p>
{% endblock %}